* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    background: url("background_3.webp") no-repeat;
    /* height: 200vh; */
    background-size: cover;
    background-position: center;
}

.header {
    overflow: hidden;
    padding: 40px 10%;
    background: rgba(255,255,255,0.7);
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: normal;
    border-radius: 4px;
}

.header a.logo {
    font-size: 40px;
    font-weight: bold;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: yellowgreen;
    color: white;
  }

.header-right {
    float: right;
}

@media screen and (max-width: 1200px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
}

nav li{
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
}

a, button {
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    cursor: pointer
}

ul {
    left: 10%;
}

img {
    max-width: 100%;
    height: auto;
}

/*the icon container*/
.container {
    position: relative;
    width: 50%
}
/*make the image in the container responsive*/
.container img {
    width: 100%;
    height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container a {
    position: absolute;
    text-align: center;
    top: 80%;
    left: 50%;
    width: 40%;
    margin: auto;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: blue;
    font-size: 1.25vw;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

.container a:hover {
    color: green;
  }

/*specific styling*/
#center_container {
    width: 50%;
    margin: auto;
    justify-items: center;
}

/* make a column*/
 /* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    margin: 3em;
	float: left;
	width: 50%;
    height: auto;
  }
  
  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    }


  /* Right column */
  .rightcolumn {
    margin: 10%;
	float: right;
	width: 50%;
    height: auto;
  }

  /* Add a card effect for articles */
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
	background-color: #FCFCED;
	color: black;
	padding: 80px;
	margin-top: 20px;
  }

  #easter {
      color: green;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {

    .leftcolumn {
        width: 100%;
        float: none;
        display: block;
        text-align: center;
        justify-content: center;
        margin: 0;
      }
      .rightcolumn{
        width: 100%;
        float: none;
        display: block;
        text-align: center;
        justify-content: center;
        margin:0;
      }
    }

    /*------------ footer ----------------*/
    .footer {
        clear: both;
        background-color: #f1dca7;
        height:auto;
        list-style: none;
        bottom: -10vh;
        padding:1em
      }

    
    /*Social Media Icons*/
    .social-wrapper {
        text-align: center;
        bottom: -10vh;
    }
    
    .social-wrapper ul li {
        display: inline;
        margin: 0 5px;
    }
    
    .facebook-icon,.googleplus-icon{
        margin-top: .625em;
        width: 40px;
        height: 40px;
        opacity: .6;
        filter: alpha(opacity=60); /* For IE8 and earlier */
      border-radius: 25px;
    }
    
    .facebook-icon,.googleplus-icon {
        opacity: 1.0;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }
    
    .footer-nav p {
        text-align: center;
        padding: 1em
    }
    /* .footer-links {
        padding:2%;
    } */
    .footer-links ul{
        padding:1em;
        padding-bottom: 0;
        list-style: none;
    }
    .footer-links ul li{
        padding:2px;
    }
    .footer-links ul li a:hover{
        color: green;
    }
    #bottom_icon {
        width: 20%;
    }
    
    /*.footer {
        display: flex;
        justify-content: center;
        overflow: hidden;
        padding: 40px 10%;
        margin-top: -50px;
        margin-bottom: -50px;
        width: 100%;
        background-color: rgba(255,255,255, 0.7);
        color: black;
        text-align: left;
        justify-content: left;
    }
	foot_container {
        display: block;
        width: 10%;
        left: 2%;
        height: auto;
    }*/
    

   
/*
.icon {
    display: flex;
    width: 50%;
}

.icon img {
    width: 100%;
    height: auto;
}

#center_icon {
    display: flex;
    width: 40%;
    margin: auto;
    justify-items: center;
    background: white;
}


#bottom_icon {
    width: 20%;
    left: 10%;
    height: auto;
}

#about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  background: white;
  color: blue;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}*/

